@import "minima";

$main_color: #7dc71b;
$step_color: #eaeaea;
$step_color_passed: #7dc71b;
$step_color_current: darken($step_color, 3);

$offset_parent: 0px;

.layout-with-sidebar {
  display: flex;
  margin-left: $offset_parent;
  margin-right: $offset_parent;

  article.post {
    flex-grow: 1;
    padding-right: 20px;
  }

  aside.sidebar {
    min-width: 200px;
    width: 240px;

    .sidebar-block {
      padding: 0 0 10px;
      text-align: center;
      overflow: auto;
      border-radius: 5px;

      box-shadow: rgba(121,121,121,.35) 1px 10px 20px;

      .sidebar-head {
        display: flex;
        background: $main_color;
        

        a,
        .sidebar-title {
          display: flex;
          justify-content: center;
          align-items: center;
          
          min-height: 40px;
          color: white;
          font-weight: bold;
        }
        a {
          min-width: 25px;
          width: 25px;
          font-size: 20px;
          
          &:hover{
            text-decoration: none;
            background: darken($main_color, 5);
          }
        }
        .sidebar-title {
          border-left: 1px solid white;
          border-right: 1px solid white;
          flex-grow: 1;
        }
      }

      .sidebar-body {
        padding: 0 10px;

        .step-list {
          margin-top: 10px;
          margin-left: 40px;
          text-align: left;

          a {
            color: #333;
          }
          .selected {
            font-weight: bold;
          }
        }
      }
    }
  }

  footer.content-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    a.content-nav-button {
      display: flex;
      border: 1px solid $main_color;
      border-radius: 5px;
      color: $main_color;
      background-color: transparent;
      transition: background-color .2s;
      &:hover{
        background-color: rgba($main_color, .3);
        text-decoration: none;
      }

      .label, .arrow{
        text-align: center;
        font-weight: bold;
      }

      .label {
        padding: 12px 10px;
        flex-grow: 1;
        font-variant: small-caps;
      }
      .arrow {
        padding: 12px 5px;
        min-width: 20px;
        width: 20px;
      }
    }
  }

  @include media-query($on-palm) {
    flex-direction: column;

    aside.sidebar {
      order: -1;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

section.progress {
  display: flex;
  height: 20px;
  margin-bottom: 30px;
  margin-left: $offset_parent;
  margin-right: $offset_parent;
  
  a.step {
    flex-grow: 1;
    background: $step_color;
    border-right: 1px solid grey;
    position: relative;
    border-bottom: 3px solid darken($step_color, 3);

    &:hover {
      background: darken($step_color, 3);
      border-bottom: 3px solid darken($step_color, 6);
    }

    &.passed {
      background: $step_color_passed;
      border-bottom: 3px solid darken($step_color_passed, 3);

      &:hover {
        background: darken($step_color_passed, 3);
        border-bottom: 3px solid darken($step_color_passed, 6);
      }
    }

    &.current {
      background: $step_color_current;
      border-bottom: 3px solid darken($step_color_current, 3);

      &:hover {
        background: darken($step_color_current, 3);
        border-bottom: 3px solid darken($step_color_current, 6);
      }
    }

    .marker {
      content: " ";
      height: 0;
      width: 0;
      border: solid transparent;
      border-bottom-color: #000;
      border-width: 0 6px 8px 6px;
      top: 22px;
      position: absolute;
      -ms-transform: translate(-50%,0);
      transform: translate(-50%,0);
      left: 50%;
    }
  }

  span.separator {
    width: 3px;
  }
}