---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">{{ page.list_title | default: "Steps" }}</h2>

  {%- if site.parts -%}
    {% assign parts = site.parts | sort: "order" | group_by: "part" %}

    {% assign part_idx = 1 %}
    {% for part in parts %}
      <details open="true">
        <summary>Partie {{ part_idx }} - {{part.name}}</summary>
        <ol>
          {% assign steps = part.items | sort: "order" %}
          {% for step in steps %}
          <li><a href="{{ step.url | relative_url }}">{{ step.title }}</a></li>
          {% endfor %}
        </ol>
      </details>

      {% assign part_idx=part_idx | plus:1 %}
    {% endfor %}
  {%- endif -%}
</div>