---
layout: default
---
{% assign prevIdx = page.order | minus:1 %}
{% assign nextIdx = page.order | plus:1 %}


{% if prevIdx > 0 %}
  {% assign prev = site.parts | where_exp: "item","item.order == prevIdx" %}
  {% assign prev_url = prev[0].url %}
  {% assign prev_title = prev[0].title %}
{% else %}
  {% assign prev_url = site.url %}
  {% assign prev_title = site.title %}
{% endif %}

{% if nextIdx <= site.parts.size %}
  {% assign next = site.parts | where_exp: "item","item.order == nextIdx" %}
  {% assign next_url = next[0].url %}
  {% assign next_title = next[0].title %}
{% else %}
  {% assign next_url = site.url %}
  {% assign next_title = site.title %}
{% endif %}

<section class="progress">
  {% assign steps = site.parts | sort: "order" %}
  {% assign last_part = -1 %}
  {% for step in steps %}
    {% if last_part != step.part and last_part != -1 %}
    <span class="separator"></span>
    {% endif %}
    <a class="step {% if step.order < page.order %}passed{% endif %} {% if step.order == page.order %}current{% endif %}" href="{{ step.url | relative_url}}">
      {% if step.order == page.order %}
        <span class="marker"></span>
      {% endif %}
    </a>
    {% assign last_part = step.part %}
  {% endfor %}
</section>
<div class="layout-with-sidebar">
  <article class="post h-entry" itemscope>

    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <footer class="content-footer">
      <a class="content-nav-button" href="{{ prev_url | relative_url }}">
        <span class="arrow">&lt;</span>
        <span class="label">{{ prev_title }}</span>
      </a>
      <a class="content-nav-button" href="{{ next_url | relative_url }}">
          <span class="label">{{ next_title }}</span>
          <span class="arrow">&gt;</span>
        </a>
    </footer>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
  <aside class="sidebar">
    <div class="sidebar-block">
      <div class="sidebar-head">
        <a href="{{ prev_url | relative_url }}">&lt;</a>
        <span class="sidebar-title">{{ page.part }}</span>
        <a href="{{ next_url | relative_url }}">&gt;</a>
      </div>
      <div class="sidebar-body">
          {% assign steps = site.parts | where_exp: "item","item.part == page.part" %}
          <ol class="step-list">
              {% for step in steps %}
                <li class="{% if step.order == page.order %}selected{% endif %}">
                  <a href="{{ step.url | relative_url }}">{{ step.title }}</a>
                </li>
              {% endfor %}
          </ol>

          {% if page.git_tip %}
          <a href="{{ page.git_tip }}" target="_blank">Voir le code source</a>
          {% endif %}
      </div>
    </div>
  </aside>
</div>